PORT=8000
NODE_ENV=development
DATABASE_URL=postgres://root:root@localhost:5432/proarq_test
CORS_ORIGIN=*
JWT_SECRET=proarq-super-secret-key-that-is-at-least-32-chars-long!!
JWT_EXPIRES_IN=7d
PDF_UPLOAD_DIR=./uploads/pdf
LOGO_URL=http://localhost:3000
SWAGGER_ENABLED=true    # Set to false to disable Swagger UI
DATABASE_URL_TEST=postgres://root:root@localhost:5432/proarq_test
